<div class="forgot-password__container">
    <div class="forgot-password__content">
        <div class="forgot-password__content__container">
            <h2 class="forgot-password__content__title">Reset Password</h2>
            <p class="forgot-password__content__body">
                Please enter your email address. We'll send you a message with instructions to reset your password.
            </p>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendEmail()" class="form forgot-password__content__form">
                <div class="form-group">
                    <label class="form-label" for="forgot-password-form__email">Email</label>
                    <input type="email" value="" formControlName="email" class="form-input" id="forgot-password-form__email" autocomplete="email"/>
                </div>
                <button class="form-button forgot-password__content__submit-button" [disabled]="!forgotPasswordForm.valid">Reset</button>
            </form>
        </div>
    </div>
    <app-hex-button [text]="'Login'" [routerLink]="'/auth/login'" class="forgot-password__register-button"></app-hex-button>
</div>
