:host {
  display: block;
  width: 100%;
  height: 100%;
}

.forgot-password__container {
  width: 100%;
  height: 100%;
  position: relative;
}

.forgot-password__content {
  height: 385px;
  max-width: 320px;
  margin: 0 auto 0 auto;
}

.forgot-password__content__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  width: 100%;
  padding: 20px 4px 4px 4px;
  overflow: auto;
}

.forgot-password__content__title {
  max-width: 240px;
  margin: 0 auto 4px auto;
  text-align: center;
  color: var(--silver);
  text-shadow: 0px 0px 5px var(--silver);
}

.forgot-password__content__body {
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 0px 0px 4px var(--silver);
  text-align: center;
}

.forgot-password__content__form {
  max-width: 220px;
  margin: 0 auto;
}

.forgot-password__content__submit-button {
  margin-top: 8px;
}

.forgot-password__register-button {
  position: absolute;
  bottom: 1px;
  right: 64px;
}
