:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container {
  max-height: fit-content;
  max-width: 270px;
  border-radius: 12px; 
}

.login__content { 
}

.login__content__title {
  text-align: center;
  color: var(--silver);
  margin-bottom: 12px;
  font-size: 32px;
  text-shadow: 0px 0px 5px var(--silver);
}

.login__content__register {
  display: block;
  margin-top: 16px;
  margin-left: auto;
  max-width: max-content;
}

.login__content__register-link {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
  margin-right: 8px;
}

.login__content__link-text {
  font-weight: 800;
  font-size: 18px;
  text-shadow: 0px 0px 5px var(--silver), 0px 0px 1px var(--primary);
}

.login__content__sign-up-icon {
  display: inline;
  color: var(--orange);
}
