 <div class="login__container">
    <div class="login__content">
        <div class="login__content__container">
            <h2 class="login__content__title">Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
                <div class="form-group">
                    <label class="form-label" for="login-form__email">Email</label>
                    <input type="email" value="" formControlName="email" class="form-input" id="login-form__email" autocomplete="email" required />
                </div>
                <div class="form-group">
                    <label class="form-label" for="login-form__password">Password</label>
                    <input type="password" value="" formControlName="password" class="form-input" id="login-form__password" autocomplete="current-password" required />
                </div>               
                <button class="form-button login-form__submit-button" [disabled]="!loginForm.valid">Login</button>
            </form>
        </div>
    </div>
    <app-hex-button [text]="'Sign Up'" [routerLink]="'/auth/register'" class="login__register-button"></app-hex-button>
</div>



