<div class="reset-password__container">
    <div class="reset-password__content">
        <div class="reset-password__content__container">
            <h2 class="reset-password__content__title">Reset Password</h2>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="form">               
                <div class="form-group">
                    <label class="form-label" for="reset-password-form__password">New Password</label>
                    <input type="password" value="" formControlName="newPassword" class="form-input" id="reset-password-form__password" autocomplete="new-password"/>
                </div>
                <div class="form-group" [class.invalid]="this.resetPasswordForm.hasError(nonidenticalValueErrorKey)">
                    <label class="form-label" for="reset-password-form__confirm-password">Confirm Password</label>
                    <input type="password" value="" formControlName="confirmPassword" class="form-input" id="reset-password-form__confirm-password" autocomplete="new-password"/>
                </div>
                <button class="form-button reset-password-form__submit-button" [disabled]="!resetPasswordForm.valid">Reset Password</button>
            </form>
        </div>
    </div>
    <app-hex-button [text]="'Login'" [routerLink]="'/auth/login'" class="reset-password__login-button"></app-hex-button>
</div>
