@use "variables";

:host {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: variables.$navbar-height;
  width: 100%;
  background: var(--primary);
  z-index: 1;
}

.navbar__container {
  height: 100%;
  padding-left: 1vw;
  padding-bottom: 5px;
}

.navbar__logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar__logo__svg {
  height: 90px;
  width: 100px;
  overflow:visible
}

.navbar__logo__svg #steam {
  filter: drop-shadow(0 0 2px white)
}

.navbar__logo__svg #cup {
  filter: drop-shadow(0 0 4px orange)
}

.navbar__brand {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 5px);
}

.navbar__brand__svg {
  filter: drop-shadow(0 0 4px var(--orange))
}

.navbar__divider {
  height: variables.$navbar-divider-height;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--blue);
  border: none;
  box-shadow: 0 0 4px 2px var(--light-blue),
}
