<div class="container col-4 offset-4">
  <h3>Update coffee consumption (don't cheat)</h3>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label for="typeOfCoffee">Coffee type drank</label>
          <input
            formControlName="typeOfCoffee"
            id="typeOfCoffee"
            type="text"
            class="form-control"
          />
          <div
            *ngIf="f['typeOfCoffee'].touched && f['typeOfCoffee'].invalid"
            class="alert alert-danger"
          >
            <div
              *ngIf="
                f['typeOfCoffee'].errors && f['typeOfCoffee'].errors['required']
              "
            >
              Field required
            </div>
          </div>
        </div>
        <div class="col">
          <label for="caffeine">Caffeine consumed:</label>
          <input
            formControlName="caffeine"
            id="caffeine"
            type="text"
            class="form-control"
            min="0"
          />
          <div
            *ngIf="f['caffeine'].touched && f['caffeine'].invalid"
            class="alert alert-danger"
          >
            <div
              *ngIf="f['caffeine'].errors && f['caffeine'].errors['required']"
            >
              Field required
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label for="consumedAt">Consumed at:</label>
          <input
            type="datetime-local"
            formControlName="consumedAt"
            id="consumedAt"
            class="form-control"
          />
          <div
            *ngIf="f['consumedAt'].touched && f['consumedAt'].invalid"
            class="alert alert-danger"
          >
            <div
              *ngIf="
                f['consumedAt'].errors && f['consumedAt'].errors['required']
              "
            >
              Field required
            </div>
          </div>
        </div>
        <div class="col">
          <label for="amount">Amount Drank:</label>
          <input
            type="number"
            formControlName="amount"
            id="amount"
            class="form-control"
            min="1"
          />
          <div
            *ngIf="f['amount'].touched && f['amount'].invalid"
            class="alert alert-danger"
          >
            <div *ngIf="f['amount'].errors && f['amount'].errors['required']">
              Field required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="#" routerLink="" class="btn btn-primary">Return</a>
        </div>
        <div class="col d-flex justify-content-end">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!form.valid"
          >
            Update
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
