$container-padding-x: 20px;

:host {
  display: block;
  background-color: var(--primary);
}

.search-filters__container {
  padding: 12px $container-padding-x;
}

.search-filters__head {
  display: flex;
  justify-content: space-between;
}

.search-filters__divider {
  height: 4px;
  margin: 12px (-$container-padding-x) 0 (-$container-padding-x);
  background-color: var(--orange);
}

.search-filters__body {
  margin-top: 16px;
}
