$container-padding-x: 20px;

:host {
  display: block;
  min-width: 500px;
}

.records__container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  padding: 12px $container-padding-x;
}

.records__head {
  display: flex;
  justify-content: space-between;
}

.records__divider {
  height: 4px;
  margin: 12px (-$container-padding-x) 0 (-$container-padding-x);
  background-color: var(--orange);
}

.records__table-container {
  width: 100%;
  min-height: 290px;
  position: relative;
  margin-top: 16px
}

.records__table-container__overlay {
  width: 100%;
  height: calc(100% - 41px);
  position: absolute;
  top: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(1.5px);
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

.records__table-container__overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.records__table-container__loading-indicator {
  height: 100%;
  max-height: 240px;
  aspect-ratio: 1;
}

.records__table {
  width: 100%;
  table-layout: fixed;
}

.records__table__col-dateTime {
  width: auto;
}

.records__table__col-type {
  width: auto;
}

.records__table__col-icons {
  width: 55px;
}

.records__table__column {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.records__table__column-title {
  align-content: center;
  flex-grow: 1;
}

.records__table__sort-icons {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.records__table__button {
  color: var(--silver);
  transition: 0.2s ease-in-out;
}

.records__table__button:enabled:hover > .records__table__sort-icon {
  stroke-width: 2px;
  stroke: var(--orange);
}

.records__table__button.active {
  color: var(--orange);
}

.records__table__button[disabled] {
  color: var(--transparent-silver);
}

.records__table__sort-icon {
  height: 18px;
  width: 18px;
}

.records__table__not-found {
    text-align: center;
}

.records__table__cell {
  padding: 4px 6px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.records__table__icons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.records__table__icon-button {
  color: var(--silver);
  transition: 0.2s ease-in-out;
}

.records__table__icon-button:hover {
  transform: scale(1.1);
  color: var(--orange);
}

.records__table__icon {
  transition: 0.2s ease-in-out;
}

.records__table__row:hover {
  box-shadow: 0px 0px 1px 1px var(--orange);
}

.records__footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;
}

.records__footer__pagination-button {
  color: var(--silver);
}

.records__footer__pagination-button:hover {
  color: var(--orange);
}

.records__footer__pagination-button[disabled] {
  color: var(--transparent-silver);
}

.records__footer__page-size-container {
  position: absolute;    
  right: 0;
}

.records__footer__page-size {
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--silver);
  border: none;
  outline: var(--transparent-silver) 1px solid;
}

.records__footer__page-size:focus-within {
  outline: var(--orange) 1px solid;
}
