<svg width="0" height="0" aria-hidden="true" style="visibility: hidden; position: absolute;">
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="4 4 16 16" id="caret-down">
        <path fill="currentColor" d="M6.1018 8C5.02785 8 4.45387 9.2649 5.16108 10.0731L10.6829 16.3838C11.3801 17.1806 12.6197 17.1806 13.3169 16.3838L18.8388 10.0731C19.5459 9.2649 18.972 8 17.898 8H6.1018Z"></path>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="4 4 16 16" id="caret-up">
        <path fill="currentColor" d="M6.1018 16.9814C5.02785 16.9814 4.45387 15.7165 5.16108 14.9083L10.6829 8.59762C11.3801 7.80079 12.6197 7.80079 13.3169 8.59762L18.8388 14.9083C19.5459 15.7165 18.972 16.9814 17.898 16.9814H6.1018Z"></path>
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="caret-left">
        <path fill="currentColor" d="M160,212a3.98805,3.98805,0,0,1-2.82861-1.17163l-80-80a4,4,0,0,1,0-5.65674l80-80a4.00009,4.00009,0,0,1,5.65722,5.65674L85.65674,128l77.17187,77.17163A4,4,0,0,1,160,212Z" />
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="caret-right">
        <path fill="currentColor" d="M96,212a4,4,0,0,1-2.82861-6.82837L170.34326,128,93.17139,50.82837a4.00009,4.00009,0,0,1,5.65722-5.65674l80,80a4,4,0,0,1,0,5.65674l-80,80A3.98805,3.98805,0,0,1,96,212Z" />
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="caret-double-left">
        <path fill="currentColor" d="M202.82861,205.17139a4.00026,4.00026,0,0,1-5.65722,5.65722l-80-80a4.00058,4.00058,0,0,1,0-5.65722l80-80a4.00026,4.00026,0,0,1,5.65722,5.65722L125.65674,128ZM45.65674,128l77.17187-77.17139a4.00026,4.00026,0,0,0-5.65722-5.65722l-80,80a4.00058,4.00058,0,0,0,0,5.65722l80,80a4.00026,4.00026,0,0,0,5.65722-5.65722Z" />
    </symbol>
    <symbol fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" id="caret-double-right">
        <path fill="currentColor" d="M138.82861,130.82861l-80,80a4.00026,4.00026,0,0,1-5.65722-5.65722L130.34326,128,53.17139,50.82861a4.00026,4.00026,0,0,1,5.65722-5.65722l80,80A4.0006,4.0006,0,0,1,138.82861,130.82861Zm80-5.65722-80-80a4.00026,4.00026,0,0,0-5.65722,5.65722L210.34326,128l-77.17187,77.17139a4.00026,4.00026,0,0,0,5.65722,5.65722l80-80A4.0006,4.0006,0,0,0,218.82861,125.17139Z" />
    </symbol>
</svg>
<div class="records__container">
    <div class="records__head">
        <h2>
            Latest Brews
        </h2>
        <button class="form-button" (click)="openAddRecordModal()">
            Add Record
        </button>
    </div>
    <table class="records__table">
        <thead>
            <tr>
                @for(col of columns; track col.property) {
                <th scope="col">
                    <span class="records__table__column">
                        <span class="records__table__column-title">{{ col.title }}</span>
                        <span class="records__table__sort-icons">
                            <button [disabled]="records().length < 2" (click)="updateSorting(col.property, 0)" class="records__table__sort-button"
                                    [class.active]="orderBy() === col.property && orderDirection() === 0">
                                <svg height="18" width="18" class="records__table__sort-icon active">
                                    <use xlink:href="#caret-up"></use>
                                </svg>
                            </button>
                            <button [disabled]="records().length < 2" (click)="updateSorting(col.property, 1)" class="records__table__sort-button"
                                    [class.active]="orderBy() === col.property && orderDirection() === 1">
                                <svg height="18" width="18" class="records__table__sort-icon">
                                    <use xlink:href="#caret-down"></use>
                                </svg>
                            </button>
                        </span>
                    </span>
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (record of records(); track record.id) {
            <tr>
                <td class="records__table__cell">{{ record.dateTime | date:"MMMM d, y h:mm" }}</td>
                <td class="records__table__cell">{{ record.type }}</td>
            </tr>
            }
        </tbody>
    </table>
    <div class="records__footer">        
        <button [disabled]="!hasPrevious()" class="records__footer__pagination-button" (click)="previousPage()">
            <svg height="28" width="28">
                <use xlink:href="#caret-left"></use>
            </svg>
        </button>
        <span>{{this.page()}}</span>
        <button [disabled]="!hasNext()" class="records__footer__pagination-button" (click)="nextPage()">
            <svg height="28" width="28">
                <use xlink:href="#caret-right"></use>
            </svg>
        </button>        
    </div>
</div>
<app-add-record-modal #addRecordModal (submitCoffeeRecord)="onSubmitCoffeeRecord($event)"></app-add-record-modal>
