<div class="records__container box">
    <div class="records__head">
        <h2>
            Latest Brews
        </h2>
        <button class="form-button" (click)="openAddRecordModal()">
            Add Record
        </button>
    </div>
    <hr class="records__divider" />
    <div class="records__table-container">
        <table class="records__table">
            <colgroup>
                <col span="1" class="records__table__col-dateTime" />
                <col span="1" class="records__table__col-type" />
                <col span="1" class="records__table__col-icons" />
            </colgroup>
            <thead class="records__table__head">
                <tr>
                    @for(col of columns; track col.property) {
                    <th scope="col">
                        <span class="records__table__column">
                            <span class="records__table__column-title">{{ col.title }}</span>
                            <span class="records__table__sort-icons">
                                <button [disabled]="records().length < 1" (click)="updateSorting(col.property, 0)" class="records__table__button"
                                        [class.active]="orderBy() === col.property && orderDirection() === 0">
                                    <svg height="18" width="18" class="records__table__sort-icon">
                                        <use href="#caret-up"></use>
                                    </svg>
                                </button>
                                <button [disabled]="records().length < 1" (click)="updateSorting(col.property, 1)" class="records__table__button"
                                        [class.active]="orderBy() === col.property && orderDirection() === 1">
                                    <svg height="18" width="18" class="records__table__sort-icon">
                                        <use href="#caret-down"></use>
                                    </svg>
                                </button>
                            </span>
                        </span>
                    </th>
                    }
                </tr>
            </thead>
            <tbody class="records__table-body">
                @for (record of records(); track record.id) {
                <tr class="records__table__row">
                    <td class="records__table__cell">{{ record.dateTime | date:"MMMM d, y H:mm" }}</td>
                    <td class="records__table__cell">{{ record.type }}</td>
                    <td class="records__table__cell">
                        <span class="records__table__icons">
                            <button class="records__table__icon-button" (click)="openEditRecordModal($event, record)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill='currentColor' class="records__table__icon" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                </svg>
                            </button>
                            <button class="records__table__icon-button" (click)="openDeleteRecordModal($event, record)">
                                <svg width="25px" height="25px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill='currentColor' class="records__table__icon">
                                    <path d="M18.87 6h1.007l-.988 16.015A1.051 1.051 0 0 1 17.84 23H6.158a1.052 1.052 0 0 1-1.048-.984v-.001L4.123 6h1.003l.982 15.953a.05.05 0 0 0 .05.047h11.683zM9.5 19a.5.5 0 0 0 .5-.5v-10a.5.5 0 0 0-1 0v10a.5.5 0 0 0 .5.5zm5 0a.5.5 0 0 0 .5-.5v-10a.5.5 0 0 0-1 0v10a.5.5 0 0 0 .5.5zM5.064 5H3V4h5v-.75A1.251 1.251 0 0 1 9.25 2h5.5A1.251 1.251 0 0 1 16 3.25V4h5v1H5.064zM9 4h6v-.75a.25.25 0 0 0-.25-.25h-5.5a.25.25 0 0 0-.25.25z" />
                                    <path fill="none" d="M0 0h24v24H0z" />
                                </svg>
                            </button>
                        </span>
                    </td>
                </tr>
                }
                <tr [class.hidden]="records().length !== 0">
                    <td colspan="2" class="records__table__not-found">No Records Were Found.</td>
                </tr>
            </tbody>
        </table>
        <div class="records__table-container__overlay" [class.active]="isLoading()">
            <div class="records__table-container__loading-indicator">
                <app-loading-indicator [paths]="textPaths" [isLoadingTextVisible]="true"></app-loading-indicator>
            </div>
        </div>
    </div>
    <div class="records__footer">        
        <button [disabled]="!hasPrevious() || isLoading()" class="records__footer__pagination-button" (click)="changePage(true)">
            <svg xmlns="http://www.w3.org/2000/svg" height="28" width="28" class="records__footer__pagination-icon">
                <use href="#caret-left"></use>
            </svg>
        </button>
        <span>{{ page() }}</span>
        <button [disabled]="!hasNext() || isLoading()" class="records__footer__pagination-button" (click)="changePage()">
            <svg xmlns="http://www.w3.org/2000/svg" height="28" width="28" class="records__footer__pagination-icon">
                <use href="#caret-right"></use>
            </svg>
        </button>
        <div class="records__footer__page-size-container">
            <select [disabled]="records().length === 0" id="records-page-size" class="records__footer__page-size" (change)="onSelectPageSize($event)">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </div>
    </div>    
</div>

<app-add-record-modal #addRecordModal (submitCoffeeRecord)="onSubmitCoffeeRecord($event)"></app-add-record-modal>
<app-delete-record-modal #deleteRecordModal (deleteCoffeeRecord)="onDeleteCoffeeRecord($event)"></app-delete-record-modal>
<app-edit-record-modal #editRecordModal (putCoffeeRecord)="onPutCoffeeRecord($event)"></app-edit-record-modal>
