:host {
  display: block;
}

.counter-box__container {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1 / 1;
  padding: 5px;
  background-color: var(--primary);
}

.counter-box__title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.counter-box__counter {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin: auto 0;
}
