<div class="container">
  <div class="row">
    <div class="col">
      <a href="#" routerLink="/coffee/create" class="btn btn-success"
        >Add new coffee consumption</a
      >
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Caffeine (g)</th>
            <th>Action</th>
          </thead>
          <tr *ngFor="let coffee of coffeeList">
            <td>{{ coffee.typeOfCoffee }}</td>
            <td>{{ coffee.consumedAt | date : "short" }}</td>
            <td>{{ coffee.amount }}</td>
            <td>{{ coffee.caffeine }}</td>
            <td>
              <div class="btn btn-group">
                <a
                  href="#"
                  [routerLink]="['/coffee/', coffee.id, 'view']"
                  class="btn btn-info"
                  >View</a
                >
                <a
                  href="#"
                  [routerLink]="['/coffee/', coffee.id, 'edit']"
                  class="btn btn-primary"
                  >Edit</a
                >
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="deleteCoffee(coffee.id!)"
                >
                  Delete
                </button>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="alert alert-info" *ngIf="this.coffeeList.length === 0">
        No more coffee logs found!
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="d-flex">
          <div class="btn btn-group">
            <button class="btn btn-info" (click)="prev()">Prev</button>
            <button class="btn btn-info" (click)="next()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
