<div class="container">
  <a href="#" routerLink="/coffee/create" class="btn btn-success"
    >Add new coffee consumption</a
  >
  <table class="table table-bordered">
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Caffeine (g)</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let coffee of coffeeList">
      <td>{{ coffee.typeOfCoffee }}</td>
      <td>{{ coffee.consumedAt | date : "short" }}</td>
      <td>{{ coffee.amount }}</td>
      <td>{{ coffee.caffeine }}</td>
      <td>
        <div class="btn-group">
          <a
            href="#"
            [routerLink]="['/coffee/', coffee.id, 'view']"
            class="btn btn-info"
            >View</a
          >
          <a
            href="#"
            [routerLink]="['/coffee/', coffee.id, 'edit']"
            class="btn btn-primary"
            >Edit</a
          >
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteCoffee(coffee.id!)"
          >
            Delete
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>
