:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__container {
  max-height: fit-content;
  max-width: 270px;
  border-radius: 12px;
}

.register__content {  
}

.register__content__title {
  text-align: center;
  color: var(--silver);
  margin-bottom: 12px;
  font-size: 32px;
}

.register__content__login {
  margin-top: 16px;
}

.register__content__login-link {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
  margin-right: 8px;
}

.register__content__link-text {
  font-weight: 700;
}

.register__content__login-icon {
  display: inline;
  color: var(--orange);
}
