<div class="register__container">
    <div class="register__content">
        @if(!this.isRegistered()) {
        <div class="register__content__container">

            <h2 class="register__content__title">Sign Up</h2>
            <form [formGroup]="registerForm" (ngSubmit)="register()" class="form">
                <div class="form-group">
                    <label class="form-label" for="register-form__email">Email</label>
                    <input type="email" value="" formControlName="email" class="form-input" id="register-form__email" autocomplete="email" required />
                </div>
                <div class="form-group">
                    <label class="form-label" for="register-form__password">Password</label>
                    <input type="password" value="" formControlName="password" class="form-input" id="register-form__password" autocomplete="new-password" required />
                </div>
                <div class="form-group" [class.invalid]="this.registerForm.hasError(nonidenticalValueErrorKey)">
                    <label class="form-label" for="register-form__confirm-password">Confirm Password</label>
                    <input type="password" value="" formControlName="confirmPassword" class="form-input" id="register-form__confirm-password" autocomplete="new-password" required />
                </div>
                <button class="form-button register-form__submit-button" [disabled]="!registerForm.valid">Sign Up</button>
            </form>
        </div>
        }

        @else {
        <div class="register-success__content__container">
            <h2 class="register-success__content__title">WELCOME</h2>
            <p class="register-success__content__body">
                Thanks for signing up! We've just sent a confirmation email to:
            </p>
            <span class="register-success__content__email">{{ confirmationEmail() }}</span>
            <p class="register-success__content__body">
                ⚠️ Important: You won't be able to recover your account until your email address is confirmed.
            </p>
            <button (click)="resendConfirmationEmail()" class ="form-button register-success__content__resend-button">Resend</button>        
         </div>
    }
    </div>
    <app-hex-button [text]="'Login'" [routerLink]="'/auth/login'" class="register__login-button"></app-hex-button>    
</div>
