<div class="container col-4 offset-4">
  <h3>Coffee consumption details:</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <strong>Type of coffee:</strong>
        <p>{{ coffeeConsumption.typeOfCoffee }}</p>
      </div>
      <div class="col">
        <strong>Amount drunk (ml):</strong>
        <p>{{ coffeeConsumption.amount }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <strong>Date of consumption:</strong>
        <p>{{ coffeeConsumption.consumedAt | date : "short" }}</p>
      </div>
      <div class="col">
        <strong>Amount of caffeine:</strong>
        <p>{{ coffeeConsumption.caffeine }}</p>
      </div>
    </div>
  </div>
</div>
