<div class="resend-email__container">
    <div class="resend-email__content">
        <div class="resend-email__content__container">
            <h2 class="resend-email__content__title">Resend E&#8209;Mail</h2>
            <p class="resend-email__content__body">
                Please enter your email address. We'll send you a message with a link to confirm your email.
            </p>
            <form [formGroup]="resendEmailForm" (ngSubmit)="resendEmail()" class="form resend-email__content__form">
                <div class="form-group">
                    <label class="form-label" for="resend-email-form__email">Email</label>
                    <input type="email" value="" formControlName="email" class="form-input" id="resend-email-form__email" autocomplete="email"/>
                </div>                
                <button class="form-button resend-email-form__submit-button" [disabled]="!resendEmailForm.valid">Resend</button>
            </form>
        </div>
    </div>
    <app-hex-button [text]="'Login'" [routerLink]="'/auth/login'" class="resend-email__register-button"></app-hex-button>
</div>
