<div class="statistics__container">
    <div class="counters-container">
        @for(counterBox of counterBoxes(); track counterBox.text){
        <app-counter [title]="counterBox.text" [count]="counterBox.count" [isSelected]="counterBox.key === key()" (click)="setSelectedKey(counterBox.key)">
        </app-counter>
        }

    </div>
    <div class="chart-container">
        <app-chart [chartData]="chartData()" [chartOptions]="chartOptions" [maxSlots]="maxChartSlots()"></app-chart>
    </div>
</div>
