<div class="statistics__container">
    <div class="counters-container">
        <app-counter [title]="'Today'" [counter]="counters().dayCount"></app-counter>
        <app-counter [title]="'Week'" [counter]="counters().weekCount"></app-counter>
        <app-counter [title]="'Month'" [counter]="counters().monthCount"></app-counter>
        <app-counter [title]="'Year'" [counter]="counters().yearCount"></app-counter>
    </div>
    <div class="chart-container">
        <app-chart [chartData]="chartData()" [chartOptions]="chartOptions"></app-chart>
    </div>
</div>
