:host {
  display: block;
  max-height: 100%;
}

.statistics__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.counters-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 10px;
}

.chart-container {
  min-width: 0;
  flex: 1 1 auto;
}
