.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  --current: var(--orange, currentColor);
}

.form-label {
  display: block;
  font-size: 20px;
  color: var(--current);
  text-shadow: 0px 0px 5px var(--current), 0px 0px 1px var(--primary);
}

.form-group:has(input.ng-dirty.ng-valid) {
  --current: var(--green);
}

.form-group:has(input.ng-dirty.ng-invalid) {
  --current: var(--red);
}

.form-input {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  outline: var(--current) 3px solid;
}

.form-button {
  padding: 2px 8px;
  background: var(--primary);
  border: 2px solid var(--orange);
  border-radius: 5px;
  color: var(--orange);
  font-weight: 600;
  font-size: 20px;
  outline: none;
  transition: 0.15s ease;
  box-shadow: 0px 0px 4px var(--orange);
}

.form-button[disabled] {
  filter: grayscale(80%);
  cursor: default;
}

.form-button:enabled:hover, .form-button:focus-visible {
  background: var(--orange);
  color: var(--primary);
}
