:host {
    display: block;
    width: 100%;
    height: 100%;
}

.background__container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background__svg {
    flex-shrink: 0;
}

path {
  stroke: var(--orange);
  fill: var(--primary);
  stroke-width: 1;
  transition: scale 0.5s linear(0, 0.149 14.5%, 0.226 19.6%, 0.316 24.2%, 0.561 33%, 0.999 44.7%, 0.735 53.1%, 0.674 56.6%, 0.655 59.9%, 0.672 63%, 0.721 66.2%, 0.999 77.4%, 0.939 81.3%, 0.921 85%, 0.932 88.2%, 0.99 95.6%, 1);
}

path:hover {
  fill: var(--orange);
}
