:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__container {
  max-height: fit-content;
  max-width: 300px;
  border-radius: 12px;
 
}

.login__content {
  padding: 16px;
}

.login__content__title {
  text-align: center;
  color: var(--silver);
}

.login__content__register {
  display: block;
  margin-top: 16px;
  margin-left: auto;
  max-width: max-content;
}

.login__content__register-link {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.login__content__sign-up-icon {
  display: inline;
  color: var(--orange);
}
