<div class="register-success__container">
    <div class="register-success__content">
        <div class="register-success__content__container">
            <h2 class="register-success__content__title">WELCOME</h2>
            <p class="register-success__content__body">
                Thanks for signing up! We've just sent a confirmation email to your inbox.<br /><br />
                ⚠️ Important: You won't be able to recover your accout until your email adress is confirmed.
            </p>
        </div>
    </div>
    <app-hex-button [text]="'Resend'" [routerLink]="'/auth/resend-email'" class="register-success__resend-button"></app-hex-button>
</div>

