:host {
    display: block;
    height: 100%;
    width: 100%;
}

:host::before{
    display: block;
    content: '';
    height: var(--navbar-height);
}

.app__main-container {
    width: 100%;
    height: calc(100% - var(--navbar-height));
}

.app__background-container {
  position: fixed;
  width: 100%;
  height: calc(100% - var(--navbar-height));  
}
