:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__container {
  max-height: fit-content;
  max-width: 300px;
  border-radius: 12px;
}

.register__box {  
  padding: 16px;
}

.register__content__title {
  text-align: center;
  color: var(--silver);
}

.register__login {
  margin-top: 16px;
}

.register__login-link {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.register__sign-up-icon {
  display: inline;
  color: var(--orange);
}

.background {
  height: 100%;
  width: 100%;
}

.background-svg {
  height: 100%;
  width: 100%;
}
