@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

$primary: #8c5230;
$info: #d98a29;
$success: #bf8563;
$danger: #401201;
$bg-color: #bf8563;
$white: #ebf1f2;

@import "bootstrap/scss/bootstrap";
body {
  background-color: $white;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
